body {

    background-color: blue;
    margin: 0;
    height: 100%;
    

}

.container {

    display: grid;
    height: 700px;
    grid-template-rows: 120px 60px 60px 60px 100px;
    background-color: gold;
    margin-bottom: 0px;
    padding-bottom: 0px;
    justify-content: center;
        
}

h1 {

    padding: 0px;
    height: 80px;
}



button {

    width: 300px;
    margin-top: 150px;
    height: 90px;
    justify-self: center;
    font-size: 50px;

}

#QuizQuestns {

    padding-bottom: 0;
    margin-bottom: 10px;
    height: 50px;
}

